doctype html
head
    meta(charset='utf-8')
    link(rel='icon' href='https://florius.com.ar/favicon.ico')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='theme-color' content='#20597d')
    meta(name='description' content='Home page of Joaquin Azcarate')
    meta(name='keywords' content='florius, portfolio, whoami')
    meta(name='author' content='Florius')
    link(href='https://fonts.googleapis.com/css?family=Karla|Montserrat&display=swap' rel='stylesheet')
    link(href='./style.scss' rel='stylesheet')
    title Florius.com.ar
header
    h1
        | I&apos;m 
        span.highlight Joaquin Azcarate
    h2 And I&apos;m a human
    section#connect
        ul
            li
                a(href='https://github.com/jazcarate' target='_blank' title='GitHub')
                    img(src='https://simpleicons.org/icons/github.svg')
                    | GitHub
            li
                a(href='https://gitlab.com/jazcarate' target='_blank' title='GitLab')
                    img(src='https://simpleicons.org/icons/gitlab.svg')
                    | GitLab
            li
                a(href='https://www.linkedin.com/in/joaquin-azcarate/' target='_blank' title='linkedIn')
                    img(src='https://simpleicons.org/icons/linkedin.svg')
                    | LinkedIn
section#portfolio
    h1 Portfolio
    dl
        each project, index in projects
            dt
                if project.url
                    a(href=project.url)=project.name
                else
                    | #{project.name}
            dd
                if project.image
                    figure
                        a(href=project.url)
                            img(src=project.image, alt=project.name + ' screenshot')
                        figcaption Project #{index}. #{project.name}
                details
                    summary=project.description
                    h3 Challenge
                    if project.challenges.length > 1
                        ul
                            each challenge in project.challenges
                                li=challenge
                    else
                        p=project.challenges[0]
                ul.tag-cloud
                    each tag in project.tags
                        li(class="tag-cloud-" + tag.type)
                            if tag.definition
                                abbr(title=tag.definition)
                                    span=tag.name
                            else
                                | #{tag.name}
                if project.source
                    a(href=project.source) Source code
footer
    | Footer

#root
script(src='./index.js')